.fl-left{
    float: left;
}
.fl-right{
    float: right;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.wp-inner{
    width: 1170px;
    margin: 0px auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
.clearfix { display: inline-block; }
  * html .clearfix { height: 1%; }
.clearfix { display: block; }